
.header {
    box-shadow: 1px 1px 5px rgb(110, 110, 110);
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(212, 207, 207, 0.671);
    border-bottom: 4px solid;
    border-image: linear-gradient(45deg, rgb(9, 106, 170), rgb(58,249,226,1)) 1;
    z-index: 100;
}
.left-section {
    align-items: center;
    display: flex;
    width: 150px;
    justify-content: space-between;
    
}
.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: row;

}
.right-section {
    margin-right: 20px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
}
.hamburger-menu {
    height: 32px;
    margin-left: 24px;
    margin-right: 20px;
    
}
.logo {
    background-color: rgba(255, 255, 255, 0.74);
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 20px;
}
.search-button {
height: 50px;
width: 50px;
border-radius: 25px;
background-color: rgb(240, 240, 240);
border-color: rgb(192, 192, 192); 
border-width: 1px;
border-style: solid;
margin-left: 5px;
margin-right: 10px;
}
.search-button,
.voice-search-button,
.basket-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.basket-icon-container .tooltip {
    position: absolute;
    background-color:rgb(243, 240, 240);
    color: rgb(102, 101, 101);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    font-family: roboto, arial;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.basket-icon-container:hover .tooltip {
    opacity: 1;
}
.search-icon {
    height: 25px;
    
}
.voice-search-button {
    height: 48px;
    width: 48px;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 24px;
    
}
.voice-search-icon {
    background-color: rgba(197, 35, 35, 0);
    border-color: rgba(170, 92, 92, 0); 
    border-width: 1px;
    border-style: solid;
    height: 50px;
    border-radius: 25px;
}
.searchbar {
    flex: 1;
    width: 0;
    height: 50px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    background-color: rgb(240, 240, 240);
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
}
.search-button::placeholder {
    font-family: roboto, Arial;
    font-size: 16px;
}
.basket {
    height: 32px;
}
.notifications {
    height: 24px;
}
.notifications-icon-container {
    position: relative;
}
.notifications-count {
    position: absolute;
    background-color: rgb(174, 0, 255);
    color: white;
    right: -6px;
    top: -2px;
    font-family: roboto, ariel;
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}
.user-pic {
    height: 32px;
}
